@import "src/style.scss";

.MainPage {
  display: grid;
  grid-template-rows: 100vh 1fr;
  grid-gap: 20vh;
  #about {
    margin: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    #contact {
      min-width: 340px;
      width: 35vw;
    }
  }
}

