@import "src/style.scss";


.Header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: $wesleyan-red;
  display: flex;
  text-decoration: none;
  font-family: $raleway;
  height: $header-height;
  font-size: 18px;
  @media only screen and (min-width: 350px){
    font-size: calc((11vw - 15px) * .75);
  }
  @media only screen and (min-width: 510px){
    font-size: calc(#{$header-height} * 0.75);
  }

  ul {
    margin: 0;
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    height: 100%;
    li {
      a {
        text-decoration: none;
        padding: 3px 5px 2px 5px;
        color: white;
        transition: background-color 0.5s cubic-bezier(.1, .8, .9, .9);
      }
      a:hover {
        background-color: $blue-grey;
        cursor: pointer;
      }
    }

  }
}
