@import "src/style.scss";

.IconButtons {
  @include neuShadow(1px, 0);
  padding: 1vw;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 15%;
  min-width: 300px;
  justify-content: center;
  a {
    div svg {
      color: inherit;
    }
    overflow: hidden;
    border-radius: 10px;
    padding: 8px 30px 6px 8px;
    @include neuShadow(2px, 0);
  }
  a:hover {
    @include neuShadow(3px, 0);
    // filter:  drop-shadow(0 0 4px rgba(0,0,0,0.2));
    cursor: pointer;
  }
  a:active{
    @include neuShadow(4px, 1);
    div svg {
      color: inherit;
    }
  }
}
