@import "src/style.scss";

.wrapper {
  .ImageCard {
    padding: 3%;
    display: flex;
    align-items: center;
    background: $blue-grey;
    border-radius: 12px;
    transition: box-shadow 0.5s, transform 0.5s ease-in-out;
    position: relative;
    .image {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
    .text {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: calc(100% - 6% - 20px);
      height: calc(100% - 9% - 20px);
      position: absolute;
      background: $blue-pale-transparent;
      padding: 10px;

      text-align: right;
      font-size: medium;
      color: white;

      visibility: hidden;
      opacity: 0;
      overflow: hidden;

      transition: opacity 0.5s, visibility 0.2s;
    }
  }
}

.Clickable{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.Clickable:hover{
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.ImageCard:hover {
  .text {
    visibility: visible;
    opacity: 1;
  }
}
