@import "src/style.scss";

.wrapper {
  .ImageCard {
    @include neuShadow(10px,1);
    padding: 3%;
    display: flex;
    align-items: center;
    border-radius: 12px;
    transition: box-shadow 0.5s, transform 0.5s ease-in-out;
    position: relative;
    .image {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
    .text {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: calc(100% - 6% - 20px);
      height: calc(100% - 9% - 20px);
      position: absolute;
      background: adjust-color($color: $accent-light, $alpha: -0.8);
      padding: 10px;

      text-align: right;
      font-size: medium;

      visibility: hidden;
      opacity: 0;
      overflow: hidden;

      transition: opacity 0.5s, visibility 0.2s;
    }
    &.Clickable {
      @extend .ImageCard;
      @include neuShadow(2px, 0);
    }
    &.Clickable:hover{
      @extend .ImageCard;
      @include neuShadow(4px, 0);
      cursor: pointer;
    }
    &.Clickable:active{
      @extend .ImageCard;
      @include neuShadow(4px, 1);
      cursor: pointer;
    }
  }
}


.ImageCard:hover {
  .text {
    visibility: visible;
    opacity: 1;
  }
}
