@import "src/style.scss";

.body {
  font-family: $montserrat;
  font-size: calc(1rem + 0.3vw);
  text-indent: 2em;
  line-height: 150%;
}

.neumorphic {
  @include neuShadow(0px, 0);
  padding: 0 20px 0 20px;
  border-radius: 12px;
}

.small {
  @extend .body;
  font-size: 18px;
}

.heading {
  @extend .body;
  text-indent: unset;
  font-size: 18px;
  font-weight: 1000;
  @media only screen and (min-width: 350px){
    font-size: calc((11vw - 15px) * .75);
  }
  @media only screen and (min-width: 510px){
    font-size: calc(#{$header-height} * 0.75);
  }
  font-family: $raleway;
  text-align: center;
  line-height: 0;
}