@import "src/style.scss";

body {
  margin: 0;
  font-family: $montserrat;
  background-color: black;

  a:link {
    @include neuShadow(2px);
    border-radius: 5px;
    padding: 2px;
    text-decoration: none;
  }
  a:visited{
    @include neuShadow(2px);
  }
  a:active{
    @include neuShadow(2px, $down: true);
  }

  &:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(resources/moonrise.JPG) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

#root {
  height: 100vh;
}
