@import "src/style.scss";

body {
  margin: 0;
  font-family: $montserrat;
  background: $main;

  a:link {
    @include neuShadow(0px,1);
    border-radius: 5px;
    padding: 2px;
    text-decoration: none;
  }
  a:visited{
    @include neuShadow(0px,1);
  }
  a:active{
    @include neuShadow(0px,0);
  }
}

#root {
  height: 100vh;
}
