@import "src/style.scss";

body {
  background-color: $main;
  background: url(./resources/moonrise.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  margin: 0;
  font-family: $montserrat;

  a:link {
    @include neuShadow(2px);
    border-radius: 5px;
    padding: 2px;
    text-decoration: none;
  }
  a:visited{
    @include neuShadow(2px);
  }
  a:active{
    @include neuShadow(2px, $down: true);
  }

}

#root {
  height: 100vh;
}
