@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap");

//Font Variables
$raleway: "Raleway", sans-serif;
$montserrat: "Montserrat", sans-serif;

//Theme Colors
$wesleyan-red: #d72121;
$wesleyan-black: #101820;
$blue-grey: #2e8888;
$blue-grey-light: #3fbdbd;
$blue-grey-dark: #005555;
$blue-pale-transparent: #1d6a9a4d;

//Other Variables
$header-height: 40px;

@mixin alternatingPictureLayout($columnBreakpoint) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  > * {
    margin: 1%;
    min-width: 330px;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  }
  @media only screen and (min-width: 450px) {
    .image_text {
      :nth-child(odd) {
        flex-basis: calc(20vw + 360px);
      }
    }
  }
  @media only screen and (min-width: #{$columnBreakpoint}) {
    .image_text {
      :nth-child(odd) {
        flex-basis: 40vw;
      }
      :nth-child(even) {
        flex-basis: 50vw;
      }
    }
    .image_text:nth-of-type(2n) {
      :nth-child(2n-1){
        order: 2;
      }
    }
  }
}
