@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap");

//Font Variables
$raleway: "Raleway", sans-serif;
$montserrat: "Montserrat", sans-serif;

//Theme Colors
$wesleyan-red: #d72121;
$wesleyan-black: #101820;
$blue-grey: #2e8888;
$blue-grey-light: #3fbdbd;
$blue-grey-dark: #005555;
$blue-pale-transparent: #1d6a9a4d;

//Other Variables
$header-height: 40px;
